@page "/game-of-life"

<h1>Game Of Live</h1>
<p>Current count: @currentCount and current radio @theRadio</p>
<hr />

<hr>
<p>
    <input type="radio" name="myradiobtn"
    checked="@(theRadio.Equals("step"))"
    value="step"
    @onchange="ClickRadio"/> Step by step
    <input type="radio" name="myradiobtn"
checked="@(theRadio.Equals("many"))"
value="many"
    @onchange="ClickRadio"/> Several steps
</p>

<div style="display:@(theRadio.Equals("many")?"":"none")">
    <h2>Hello World from Hidden Section </h2>
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Next</button>
<a class="btn btn-primary" target="_blank" href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_life">Look for
    Patterns in Wikipedia
    </a>

@{
    if (currentCount == 0)
    {

    }
}

<hr />
<table class="environment">
    @for (int i = 0; i < @e.total_of_rows(); i++)
    {
        <tr>
            @for (int j = 0; j < @e.total_of_cols(); j++)
            {
                @if (e.is_alive(i, j))
                {
                    <td class="cell alive"></td>
                }
                else
                {
                    <td class="cell dead"></td>
                }
            }
        </tr>
    }
</table>
<hr />



@code {
    private int currentCount = 0;



    private Data.GameOfLife.Environment e = new Data.GameOfLife.Environment(30, 30);
    private string theRadio="";

    private void IncrementCount()
    {
        currentCount++;
        e.nextConwayStep();
    }

    private void ClickRadio(ChangeEventArgs args){
        theRadio = args.Value.ToString();
        currentCount++;
    }
}